@{
    ViewData["Title"] = "View project authors";
}
 
<style>
    table {
        border-spacing: 0 15px;
        align-self: center;
    }
    th {
        background-color: #4287f5;
        color: white;
    }
    th,
    td {
        width: 150px;
        text-align: center;
        border: 1px solid black;
        padding: 5px;
    }
    h2 {
        color: #4287f5;
    }
</style>
 
<div class="text-center">
    <h2 class="display-4" style="text-align: left">Пользователи проекта</h2>
    <br>
    <table>
        <tr>
            <td>Идентификатор</td>
            <td>Имя</td>
            <td>Дата регистрации</td>
        </tr>

        @{
            int n = 0;
            foreach (var user in Model)
            {
                n++;
                <tr>
                    <td>@n</td>
                    <td>@user.FirstName<br>@user.LastName</td>
                    <td>@user.JoinDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        }
    </table>
</div>